<div class="top">
  <div class="top-page">
    <div class="search-form">
      <div class="search">
        <h2>未知なる世界へ、さぁ冒険だ</h2>
        <p>エリアで検索</p>
        <%= form_tag(search_path, :method => 'get') do %>
          <%= text_field_tag :search %>
          <%= submit_tag 'search'%>
        <% end %>
        <%# <input type="text" placeholder="Tokyo">
        <input type="submit" value="探す"> %>
      </div>
    </div>
    <%# <div>
    <img src= "飛行機.jpg" alt="飛行機の写真" class="back-image">
    </div> %>
  </div>
  <h4>おすすめのエリア</h4>
  <div class="recommend-area">

   <%#= link_to(search_path) do %>
    <div class="view-card">
      <%#= form_for(search_path) do |f| %>
      <%#= hidden_field_tag :search, value: 'Tokyo' %>
      <p>Tokyo</p>
      <img src="Tokyo-view.jpg" class="view">
      <%# end %>
    </div>
   <%# end %>
    <div class="view-card">
     <p>Sydney</p>
     <img src="Sydney-view.jpg" class="view">
    </div>
  </div>


<%#= form_for(search_path) do |f| %>
    <%#= f.hidden_field :room_area, value: Tokyo %>
   



  <%= link_to("ルーム一覧","/rooms/index")%>
    
  </div>
</div>