// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input{
  width: 400px;
}

.room-image{
  width: 200px;
  height: 200px;
}

.room-top{
  display: flex;
  flex-wrap: wrap;

}
.room-card{
  background-color:rgba(81, 119, 149,1);
  width: 300px;
}

.room-search-top{
  display: flex;
  flex-wrap: wrap;
}
